<mat-toolbar color="secondary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Benzinger</span>
  <span class="example-spacer"></span>
</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
  {{ "Grüße" | translate }}
</div>
<label>
  Sprache
  <select #langSelect (change)="changeLang(langSelect.value)">
    <option *ngFor="let lang of langs" [value]="lang">
      {{ lang }}
    </option>
  </select>
</label>

<div class="titel">
  <div class="row">
    <div class="col-sn-8">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput color="secondary" name="nombre" id="nombre" [(ngModel)]="datos.nombre">
      
    </mat-form-field>
    <div class="titel">
      <div class="row">
        <div class="col-sn-8">
        <mat-form-field appearance="outline">
          <mat-label>Edad</mat-label>
          <input matInput color="secondary" age="edad" id="edad" [(ngModel)]="datos.edad">
          
        </mat-form-field>
    <button (click)="guardar()">Guardar</button>